.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-bottom: 4rem;
}

.gridCell {
    width: 225px;
}

.disableSelect {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

@media screen and (min-width: 640px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}
