.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart {
    display: none;
    width: 225px;
    margin: 0.5rem;
    border: 2px solid var(--secondary-blue);
    border-radius: 5px;
    padding-bottom: 1rem;
}

.list {
    width: 225px;
    margin-bottom: 2rem;
}

@media screen and (min-width: 550px) {
    .chart {
        display: inline;
        width: calc(2 * 225px + 35px);
        margin-bottom: 1rem;
    }

    .list {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .chart {
        width: calc(3 * 225px + 2 * 35px);
        margin-bottom: 1.5rem;
    }
}

.disableSelect {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}
