.table {
    border-spacing: 0;
    width: 60%;
    max-width: 768px;
    font-size: 1.5rem;
}

thead .row {
    background-color: var(--secondary-blue);
    color: white;
}

tbody .row:hover {
    background-color: #eed9c4;
}

.row th,
.row td {
    padding: 0.75rem 1.5rem;
    border-bottom: 2px solid var(--primary-dark-blue);
}

.nameCell {
    color: var(--secondary-blue);
}

.voteCell {
    text-align: right;
}
