*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Play';
    color: var(--primary-dark-blue);
    width: 100%;
    height: 100%;
}

:root {
    --primary-green: #00a486;
    --primary-dark-blue: #1e2a38;
    --primary-light-blue: #e9eaeb;
    --secondary-orange: #ff6b00;
    --secondary-green: #29deb5;
    --secondary-blue: #4040c8;
    --state-warning: #ffa621;
    --state-error: #ff2e00;
    --state-success: #2ec659;

    --spacing-md: 16px;
    --spacing-lg: 32px;

    --border-radius: 12px;
}
